body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,header,hgroup,nav,section,article,aside,footer,figure,figcaption,menu,button {
  margin: 0;
  padding: 0
}
body {
  font-family: "Helvetica Neue",Helvetica,STHeiTi,sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #000;
  background-color: #f8f8f8;
  -webkit-user-select: none;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  outline: 0
}

h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  font-weight: 400
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

caption,th {
  text-align: left
}

fieldset,img {
  border: 0
}

li {
  list-style: none
}

ins {
  text-decoration: none
}

del {
  text-decoration: line-through
}

input,button,textarea,select,optgroup,option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0
}

button {
  -webkit-appearance: none;
  border: 0;
  background: 0 0
}

a {
  -webkit-touch-callout: none;
  text-decoration: none
}

:focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent
}

@function px2em($px, $base-font-size: 16px) {
  @if (unitless($px)) {
    @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you";
    @return px2em($px + 0px);
  } @else if (unit($px) == em) {
    @return $px;
  }
  @return ($px / $base-font-size) * 1em;
}

h1{
  font-size: px2em(10);
}
@font-face {font-family: "iconfont";
  src: url('./font/iconfont.eot?t=1511015370486'); /* IE9*/
  src: url('./font/iconfont.eot?t=1511015370486#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./font/iconfont.ttf?t=1511015370486') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./font/iconfont.svg?t=1511015370486#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before { content: "\e614"; }

.icon-linkedin:before { content: "\e6f0"; }

.icon-clear:before { content: "\e650"; }

.icon-facebookicon:before { content: "\e66e"; }

.icon-google:before { content: "\e689"; }

.icon-upward:before { content: "\e631"; }

.icon-masonry:before { content: "\e68b"; }
/*
 * font-10 -- font-24
 */
@for $i from 0 through 15 {
  .font-#{$i+$i + 10} { font-size: px2em(10 + $i * 2); }
}
.color-6f {
  color: #6F6F6F;
}
.color-36{
  color: #363636;
}
//文字截断
.nowrap-multi {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.kx-whitespace {
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  @media (max-width: 320px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/*
 * 两端对齐居中
 */
@mixin sp-box($space:space-between, $center:center) {
  display: flex;
  align-items: $center;
  justify-content: $space;
}
.sp-justify {
  @include sp-box(space-between, flex-start);
  &-space {
    @include sp-box;
  }
  &-align {
    @include sp-box(center);
  }
}

.content {
  height: calc(100vh - 45px);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
